<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受験生詳細</title>
</head>
<body>
<h1>受験生詳細</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">

  <div>
    <label for="name">名前</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label for="name">カナ名</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="name">ニックネーム</label>
    <input type="text" id="nickName" th:field="*{student.nickName}" required/>
  </div>
  <div>
    <label for="name">メールアドレス</label>
    <input type="text" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="name">地域</label>
    <input type="text" id="region" th:field="*{student.region}" required/>
  </div>
  <div>
    <label for="name">年齢</label>
    <input type="text" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="name">性別</label>
    <input type="text" id="gender" th:field="*{student.gender}" required/>
  </div>
  <div>
    <label for="name">備考</label>
    <input type="text" id="remark" th:field="*{student.remark}" required/>
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <label for="courseName"
           th:for="studentsCourses.__${stat.index}__.courseName">受講コース名:</label>
    <input type="text" id="courseName" th:id="studentsCourses.__${stat.index}__.courseName"
           th:field="*{studentsCourses[__${stat.index}__].courseName}"/>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>