<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受験生情報一覧</title>
</head>
<body>
<h1>受験生情報一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.studentId}">1</td>
    <td>
      <a th:href="@{'/editStudent/' + ${studentDetail.student.studentId}}">
        <span th:text="${studentDetail.student.name}">
          <a href="/studentList"
             th:href="@{/student/{id}(id=${studentDetail.student.id})}">山田太郎</a>
        </span>
      </a>
    </td>
    <td th:text="${studentDetail.student.furigana}">やまだたろう</td>
    <td th:text="${studentDetail.student.nickName}">タロー</td>
    <td th:text="${studentDetail.student.email}">taro@example.com</td>
    <td th:text="${studentDetail.student.region}">東京</td>
    <td th:text="${studentDetail.student.age}">20</td>
    <td th:text="${studentDetail.student.gender}">男性</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
  </tr>
  </tbody>

</table>
</body>
</html>