<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生更新</title>
</head>
<body>
<h1>受講生編集</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">

  <input type="hidden" th:field="*{student.studentId}"/>

  <div>
    <label>名前</label>
    <input type="text" th:field="*{student.name}"/>
  </div>
  <div>
    <label>カナ名</label>
    <input type="text" th:field="*{student.furigana}"/>
  </div>
  <div>
    <label>ニックネーム</label>
    <input type="text" th:field="*{student.nickName}"/>
  </div>
  <div>
    <label>メールアドレス</label>
    <input type="text" th:field="*{student.email}"/>
  </div>
  <div>
    <label>地域</label>
    <input type="text" th:field="*{student.region}"/>
  </div>
  <div>
    <label>年齢</label>
    <input type="text" th:field="*{student.age}"/>
  </div>
  <div>
    <label>性別</label>
    <input type="text" th:field="*{student.gender}"/>
  </div>
  <div>
    <label>備考</label>
    <input type="text" th:field="*{student.remark}"/>
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <h4>コース [[${stat.index} + 1]]</h4>
    <input type="hidden" th:field="*{studentsCourses[__${stat.index}__].id}"/>
    <div>
      <label>コース名</label>
      <input type="text" th:field="*{studentsCourses[__${stat.index}__].courseName}"/>
    </div>
    <div>
      <label>開始日</label>
      <input type="date" th:field="*{studentsCourses[__${stat.index}__].startDate}"/>
    </div>
    <div>
      <label>終了日</label>
      <input type="date" th:field="*{studentsCourses[__${stat.index}__].finishDate}"/>
    </div>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>

</form>
<a th:href="@{/studentList}">戻る</a>
</body>
</html>